* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #072AC8;
}

/* insert header related css underneath '.header'*/
.header {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #0789CA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul li {
    padding-top: 10px;
    padding-left: 10px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}

a {
    color: black;
}

aside {
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 2%;
    background-color: #0789CA;
    border: 3px;
    border-style: hidden;
    border-radius: 5px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 50%;
}

aside p {
    margin-top: 3%;
}

.profile-pic {
    display: flex; 
    justify-content: center;
    height: 90%;
    width: 100%;
    padding: 5%;
}

.deployedWork {
    display: flex;
    flex-wrap: wrap;
}

.content article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    border: 5px;
    border-style: hidden;
    border-radius: 5px;
}

article img {
    height: 200px;
    width: 200px;
}

.project-image {
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    filter: blur(5px);
}

.project-image:hover {
    filter: none;
}

#trail-planner {
    position: relative;
    text-align: center;
}

.trailPlannerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#horiseon-refactor {
    position: relative;
    text-align: center;
}

.horiseonRefactorTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prework-study-guide {
    position: relative;
    text-align: center;
}

.studyGuideTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TBD {
    position: relative;
    text-align: center;
}

.TBDtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #acf7c1
}

.TBDtext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #acf7c1
}

/* keep contact section towards bottom */
footer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 50%;
    margin-left: 10%;
    margin-bottom: 8%;
    padding-left: 2%;
    border: 3px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #3AB9F8;
}

footer ul li {
    display: block; 
}

.contact-info .contact-links {
    display: none;
    padding: 1% 0;
}

.contact-info:hover .contact-links {
    display: block;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}