* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #072AC8;
}

/* insert header css underneath '.header', above '.hero' */
.header {
    display: flex;
    padding: 20px;
    background-color: #0789CA;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}

.header nav ul li {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 15px;
}

a {
    color: black;
}

.profile-pic {
    display: flex;
    justify-content: center;
    height: 175px;
    width: 100%;
    padding: 20px;
}

.content aside {
    margin-right: 20px;
    margin-left: 5px;
    background-color: #0789CA;
    border: 3px;
    border-style: hidden;
    border-radius: 5px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 50%;
}

aside p {
    margin-top: 10px;
}

.content article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: #3AB9F8;
    margin: 5px;
    margin-top: 15px;
    margin-right: 15px;
    border: 5px;
    border-style: hidden;
    border-radius: 5px;
}

article img {
    height: 200px;
    width: 200px;
}

.project-image {
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    filter: blur(5px);
}

.project-image:hover {
    filter: none;
}

/* keep contact section towards bottom */
footer {
    display: flex;
    margin-top: 25px;
    margin-right: 550px;
    margin-left: 25px;
    border: 3px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #3AB9F8;
}

footer ul li {
    display: block;
}

.contact-info .contact-links {
    display: none;
    padding: 1% 0;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}